<%- include('../partials/header.ejs');-%>
<%- include('../partials/nav.ejs');-%>
<div class="container" id="backVerde">
    <h2>relatório de gastos por periodos</h2>
    <form action="">
        <br>
        <h5>selecione o ano</h5>
        <div>
            <select class="form-select" aria-label="Default select example">
                <option selected value="#">2020</option>
                <option value="#">2021</option>
                <option value="#">2022</option>
            </select>
        </div>
        <br>
        <button class="btn btn-success" >Buscar</button>
        <br><br>
        <div>
            <input type="checkbox" name="" onclick="" id="termos_de_contrato">
            <label for="">selecionar os dias</label><br>
            <input type="checkbox" name="" onclick="" id="termos_de_contrato">
            <label for="">selecionar os meses</label>
        </div>

        <div id="calendario">

        </div>
    </form>
    <script src="/views/relatorios/gastosPorPeriodo.js"></script>
</div>
<%- include('../partials/footer.ejs');-%>